<html lang="en">

  <head>
    <%- include ../partials/head.ejs %>
  </head>

  <body>

  <!-- navbar -->
  <%- include ../partials/navbar.ejs %>

  <main>

    <!-- title -->
    <div class="container">
      <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
          <h2>Recent Comics</h2>
        </div>

        <div class="col-2"></div>
      </div>

      <!-- comic carousel -->
      <div class="row">
        <div class=".d-none .d-lg-block .d-xl-none col-lg-2 spacer"></div>

        <div class=".d-none .d-lg-block .d-xl-none col-lg-8">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner box box3">

              <div class="carousel-item active ">
                <a href=<%=`${instaData[0].link}` %>><img class="d-block w-100" src=<%=`${instaData[0].images.standard_resolution.url}` %> alt="First slide" ></a>
              </div>

              <% instaData.splice(0,1)
               instaData.forEach( comic => { %>
              <div class="carousel-item ">
                <a href=<%= `${comic.link}` %>><img class="d-block w-100" src=<%= `${comic.images.standard_resolution.url}` %> alt="First slide"></a>
              </div>
              <% }) %>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class=".d-none .d-lg-block .d-xl-none col-lg-2 spacer"></div>
      </div>

      <!-- more comics -->
      <div class="row">
        <!-- <div class="col">Click here for more</div> -->
      </div>

      <!-- bottom spacer -->
      <div class="row">
        <div class="col"></div>
      </div>

    </div>

  </main>

  <!-- bootstrap scripts and jquery -->
  <%- include ../partials/bootstrapScripts.ejs %>

  </body>

</html>