<html lang="en">

  <head>
    <meta name="description" content="Poorly-drawn comics for researchers, students, engineers, academics, and/or anybody else intrigued by all things scientific!"/>

    <%- include ../partials/head.ejs %>
  </head>

  <body>

  <!-- navbar -->
  <%- include ../partials/navbar.ejs %>

  <main>

    <!-- title -->
    <div class="container">
      <div class="row">

        <div class="col header">
          <h2>Comics</h2>
        </div>

      </div>

      <div class="row gallery__row">
        <% if (comics) {
        comics.forEach(comic => { %>
          <div class="col gallery__col" data-toggle="modal" data-target=<%=`#${comic.label}`%>>
              <img class="gallery__img" src=<%=comic.route%>>
            </div>
            <div class="modal fade" id=<%=`${comic.label}`%> tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <a href=<%=comic.link%> target="_blank">
                      <img class="modal__img" src=<%=comic.route%>>
                    </a>
                </div>
              </div>
            </div>
      <% })
      } %>
      </div>

      <!-- View all comics button -->
      <div class="row">
        <div class="col more-comics">
          <a class="btn btn-lg" href="https://www.instagram.com/labstruggles/" role="button">More Comics</a>
        </div>
      </div>
      
      <%- include ../partials/footer.ejs %>

    </div>

  </main>

  <!-- bootstrap scripts and jquery -->
  <%- include ../partials/bootstrapScripts.ejs %>

  </body>

</html>